<div class="card-form-login">
        <form>
            <app-input-login placeholderName="Usuário" iconInput="person"></app-input-login>
            <app-input-login placeholderName="Senha" iconInput="lock"></app-input-login>
            <app-input-login placeholderName="Confirmar Senha" iconInput="lock"></app-input-login>
            <app-button-login></app-button-login>
            <div class="div-cadastrar">
                <p>Já possui conta? <a routerLink="/login">Entrar</a> </p>
                <i class="material-icons">arrow_right_alt</i>
            </div>
        </form>
    </div>